* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: #333333;
  height: 300.67vh;
}

.nav>a>img {
  width: 148px;
  height: 40px;
}

.nav {
  background-color: #1E1E1E;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 15% 0;
}

.nav a {
  color: inherit;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 12px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #F4CE14;
}

.nav li:hover {
  background-color: #F4CE14;
  color: #1E1E1E;
}

.banner {
  padding-top: 10px;
  height: 475px;
  background-color: #495E57;
  color: #ffffff;
  display: flex;
  gap: 17.1875rem;
  padding: 37px 18.125rem;
}

.banner img {

  border-radius: 20px;
}

article>h1 {
  font-size: 53px;
  color: #F4CE14;
  padding-bottom: 30px;
}

article>p {
  padding-bottom: 30px;
}

button {
  padding: 14px 15px;
  border-radius: 12px;
  background-color: #F4CE14;
  border-style: none;
  cursor: pointer;
}

.nav_header {
  margin-top: 141px;
  display: flex;
  gap: 41rem;
  padding: 37px 17.47rem;
}

.nav_header>h2 {
  color: #ffffff;
}

.cardOfThree {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #EDEFEE;
  width: 271px;
  height: 400px;
  margin: 24px;
  border-radius: 20px;
}

.orderingDelivery>p {
  font-weight: bold;
}

.orderingDelivery {
  display: flex;
  justify-content: space-between;
}

.cardOfThree>.card>.cardImage {
  background-color: aqua;
  height:200px;
  margin-bottom: 40px;
  background-size: cover;
  border-radius: 20px;
}

.cardImage.image1 {
  background-image: url("./icons_assets/lemon\ dessert.jpg");
}

.cardImage.image2 {
  background-image: url("./icons_assets/greek\ salad.jpg");
}

.cardImage.image3 {
  background-image: url("./icons_assets/amirali-mirhashemian-sc5sTPMrVfk-unsplash.jpg");

}

.tintForNewBanner {
  background-color: #495E57;
  margin-top: 141px;
  height: 622px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 200px;

}

.box {
  height: 200px;
  height: 400px;
  border-radius: 20px;
  background-color: red;
  color: white;
}

.box.box1 {
  background-image: url("./testimonai-images/ion-fet-5y9EyNvTya8-unsplash.jpg");
  background-size: cover;
  
}
.box.box2 {
  background-image: url("./testimonai-images/austin-wade-X6Uj51n5CE8-unsplash.jpg");
  background-size: cover;
}
.box.box3 {
  background-image: url("./testimonai-images/michael-dam-mEZ3PoFGs_k-unsplash.jpg");
  background-size: cover;
}
.box.box4 {
  background-image: url("./testimonai-images/toni-koraza-r_VLi4NDa9c-unsplash.jpg");
  background-size: cover;
}